#btn_cust_sell {
  width: 25%;
}
#btn_1 {
  background-color: #db3022;
  color: white;
}
#btn_2 {
  color: #9b9b9b;
  border-color: gray;
}
#resetpw {
  color: #db3022;
}
#submit {
  border-radius: 20px;
  background-color: #db3022;
}
#register {
  color: #db3022;
}
#forgetpw {
  color: #db3022;
}
