#resetpw {
  color: #db3022;
}
#submit {
  border-radius: 20px;
  background-color: #db3022;
}
#reqPw {
  border-radius: 25px;
}
.p {
  color: red;
}
#forgetPw {
  color: #db3022;
}
#submit {
  border-radius: 20px;
  background-color: #db3022;
}
#register {
  color: #db3022;
}
