#foto {
  border-left: 1px #d4d4d4 solid;
}
#foto_file {
  margin-top: 20px;
}

#btnSearch {
  background-color: #ffffff;
  border-color: #8e8e93;
}
#btnLogin {
  background-color: #db3022;
  border-radius: 25px;
  width: 100px;
}
#btnRegister {
  background-color: white;
  color: #8e8e93;
  border-color: #8e8e93;
  border-radius: 25px;
  width: 100px;
}
#card {
  border-radius: 50px;
}
